<template>
  <div class="board">
    <div class="player_1">
      <div>
        <label>Enter Player 1 Name (X)</label>
      </div>
      <input type="text" v-model="player_1_name">
      <br>
      <!--      player_1_name: {{ player_1_name }}-->
    </div>

    <div class="game-board">
      Active player: {{ activePlayer }}

      <div class="line" v-for="(i, y) in 3" :key="i">
        <div class="cell" v-for="(j, x) in 3" :key="j"
             @click="clickToCell(x,y)"
             :style="{pointerEvents: result[y][x] !== null ? 'none' : ''}">

          {{ result[y][x] !== null ? result[y][x] : '-' }}

        </div>
      </div>

      Moves Left: {{ clicks }}

      <br>

      <!--      Переміг гравець -->
      <p class="player_win">{{ player_win }}</p>
    </div>

    <div class="player_2">
      <div>
        <label>Enter Player 2 Name (0)</label>
      </div>
      <input type="text" v-model="player_2_name">
      <br>
      <!--      player_2_name: {{ player_2_name }}-->
    </div>


  </div>
  <button class="want_more" @click="myReload">I want more</button>
</template>

<script>
export default {
  name: "GamePage",
  data: () => ({
    player_1_name: 'Pl-1',
    player_2_name: 'Pl-2',
    player_win: '',
    players_names: false,
    result: [
      [null, null, null],
      [null, null, null],
      [null, null, null],
    ],
    resultSumm: [],
    activePlayer: 'X',
    clicks: 9,
    flag: false,
  }),
  computed: {},
  methods: {

    // pause(millis) {
    //   setTimeout("this.myReload()", millis);
    // },
    //
    // myReload() {
    //   location.reload()
    // },

    winX() {
      let win = false

      for (const row of this.result) {
        if (row.every(value => value !== null && value === 'X')) {
          win = true
        }
      }
      if (win) {
        this.flag = true
        if (this.flag) {
          this.pause(5500)
          // this.myReload()
        }
        return true
      }


      win = (this.result[0][0] !== null && this.result[1][1] !== null && this.result[2][2] !== null) &&
          (this.result[0][0] === 'X' && this.result[1][1] === "X" && this.result[2][2] === "X")
      if (win) return true

      win = (this.result[0][2] !== null && this.result[1][1] !== null && this.result[2][0] !== null) &&
          (this.result[0][2] === 'X' && this.result[1][1] === "X" && this.result[2][0] === "X")
      if (win) return true

      // Перевірка "По стовпцях"

      win = ((this.result[0][0] !== null && this.result[1][0] !== null && this.result[2][0] !== null) &&
              (this.result[0][0] === 'X' && this.result[1][0] === "X" && this.result[2][0] === "X")) ||
          ((this.result[0][1] !== null && this.result[1][1] !== null && this.result[2][1] !== null) &&
              (this.result[0][1] === 'X' && this.result[1][1] === "X" && this.result[2][1] === "X")) ||
          ((this.result[0][2] !== null && this.result[1][2] !== null && this.result[2][2] !== null) &&
              (this.result[0][2] === 'X' && this.result[1][2] === "X" && this.result[2][2] === "X"))
      if (win) return true


    },
    winO() {

      let win = false

      for (const row of this.result) {
        if (row.every(value => value !== null && value === '0')) {
          win = true
        }
      }
      if (win) return true

      win = (this.result[0][0] !== null && this.result[1][1] !== null && this.result[2][2] !== null) &&
          (this.result[0][0] === '0' && this.result[1][1] === "0" && this.result[2][2] === "0")
      if (win) return true

      win = (this.result[0][2] !== null && this.result[1][1] !== null && this.result[2][0] !== null) &&
          (this.result[0][2] === '0' && this.result[1][1] === "0" && this.result[2][0] === "0")
      if (win) return true

      // Перевірка "По стовпцях"

      win = ((this.result[0][0] !== null && this.result[1][0] !== null && this.result[2][0] !== null) &&
              (this.result[0][0] === '0' && this.result[1][0] === "0" && this.result[2][0] === "0")) ||
          ((this.result[0][1] !== null && this.result[1][1] !== null && this.result[2][1] !== null) &&
              (this.result[0][1] === '0' && this.result[1][1] === "0" && this.result[2][1] === "0")) ||
          ((this.result[0][2] !== null && this.result[1][2] !== null && this.result[2][2] !== null) &&
              (this.result[0][2] === '0' && this.result[1][2] === "0" && this.result[2][2] === "0"))
      if (win) return true

    },

    clickToCell(x, y) {
      this.players_names = this.player_1_name !== '' && this.player_2_name !== ''

      if (this.players_names) {
        this.clicks--
        this.result[y][x] = this.activePlayer

        if (this.activePlayer === 'X') this.activePlayer = '0'
        else this.activePlayer = 'X'

        if (this.winX()) {
          alert('X winner')
          this.player_win = 'Переміг гравець ' + this.player_1_name
        } else if (this.winO()) {
          alert('O winner')
          this.player_win = 'Переміг гравець ' + this.player_2_name
        } else if (this.clicks === 0) {
          alert('Nichia (draw)')
          this.player_win = 'Переможця не виявлено: Friendship Won'
        }
      } else alert('Не всі дані користувачів введено!!!')

    }
  }
  ,
}
</script>

<style scoped>
.board {
  display: flex;
  padding: 20px;
  background-color: #ccc;
}

.game-board {
  margin: auto;
  text-align: center;
  vertical-align: center;
  font-size: 35px;
}

.line {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.line:not(:last-child) {
  margin-bottom: 20px;
}

.cell {
  min-height: 100px;
  min-width: 100px;
  padding: 20px;
  background-color: #fff;
}

.want_more {
  text-align: center;
  vertical-align: center;
  font-size: 35px;
  font-weight: 700;
  max-width: 300px;
  width: 100%;
  margin-left: calc(50% - 150px);
  margin-top: 50px;
  color: blue;
  border: blue solid 3px;
}

.player_win{
  color: crimson;
  font-weight: 700;
}

</style>
