<template>
  <div class="container">
    <header>
      Header /// <router-link to="/">Home page</router-link> ///
      <router-link to="/game">Game page</router-link>
    </header>
    <hr>
<!--    {{$store.getters.players}}-->
    <router-view/>

  </div>
</template>

<script>
export default {
  name: 'App',
  data: () => ({}),
  created() {
  },
  computed: {},
  methods: {},
  // components: {
  //   ListItem
  // },
}
</script>

<style></style>
